<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<phpunit
        bootstrap="tests/bootstrap.php"
        colors="false"
        convertErrorsToExceptions="true"
        convertNoticesToExceptions="true"
        convertWarningsToExceptions="true"
        processIsolation="false"
        stopOnError="false"
        stopOnFailure="false"
        stopOnIncomplete="false"
        stopOnSkipped="false"
        strict="false"
        verbose="false">
    <testsuites>
        <testsuite name="Unit tests">
            <directory>tests/unit</directory>
        </testsuite>
    </testsuites>
    <filter>
        <whitelist>
            <file>TagsDependency.php</file>
            <file>CacheTagBehavior.php</file>
        </whitelist>
    </filter>
</phpunit>
